
.photo{
    height: 45vh;
    border-radius: 50%;  
    border-bottom: 4px solid cyan;
}
.homecontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.introcontainer{
    color: cyan;
    /* background-color: red; */
    height: 50vh;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.welcome{
    font-size: 40px;
    /* font-weight: 999; */
}
.intro{
    font-size: 30px;
}
.myweb,.developer{
    color: red;
}
.myweb{
    /* -webkit-text-stroke: 2px white; */
    color: transparent;
    font-weight: 600;
    background-image: linear-gradient(45deg,cyan,red,blue);
    background-repeat: no-repeat;
    -webkit-background-clip: text;  /* background image only fill in the text */
    background-position: -270px 0;
    animation: animate 3s linear infinite alternate;
    
}
@keyframes animate {
    100%{
        background-position: 0 0;
    }
    
}