
.home{
    height: 50vh;
    width: 100%;
    margin-top: 1px;
    background-color: rgb(3, 8, 76);
}
.about{
    height: 30vh;
    margin-top: 0.5px;
    background-color: rgb(3, 8, 76);

}
.skills{
    height: 30vh;
    margin-top: 0.5px;
    background-color: rgb(3, 8, 76);

}
.projects{
    height: 30vh;
    margin-top: 1px;
    background-color: rgb(3, 8, 76);

}

.contacts{
    height: 30vh;
    margin-top: 1px;
    background-color: rgb(3, 8, 76);

}
