:root{
    --lightblue-color: rgb(5, 13, 127);    /* uiniversal color  */
      
}
* {
    padding: 0;
    margin: 0; 
}

.header {
    height: 10vh;
    width: 100%;
    background-color: var(--lightblue-color);    /* using globle color variable  */

}

nav {
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}



ul {
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

nav .namecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10vh;
    margin-left: 5vw;
    flex-direction: column;
}

.name {
    font-size: 2.5rem;
    color: cyan;
    font-weight: 999;

}
.header-nav-list,ul li.navlists {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
    cursor: pointer;
    color: cyan;


}

.header-nav-list,ul li:hover {
    
    text-decoration: underline;
    opacity: 75%;
}

/* anchar tag for cv */
a{
    text-decoration: none;
}