:root{
    --lightblue-color: rgb(5, 13, 127);    /* uiniversal color  */
      
}
* {
    padding: 0;
    margin: 0; 
}

.header-container {
    height: 10vh;
    width: 100%;
    background-color: var(--lightblue-color);    /* using globle color variable  */

}

nav {
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 6vh;
}



ul {
    display: flex;
    height: 10vh;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

nav .namecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10vh;
    flex-direction: column;
}

.name {
    font-size: 3vh;
    color: cyan;
    font-weight: 600;

}
.header-nav-lists{
    display: flex;
    gap: 2vw;
}

.header-navlists {
    list-style: none;    
    font-size: 2.5vh;
    cursor: pointer;
    color: cyan;
}

.header-menu{
    font-size: 3vh;
    color: white;
    display: none;
}


.header-nav-list,ul li:hover {
    
    text-decoration: underline;
    opacity: 75%;
}

/* anchar tag for cv */
a{
    text-decoration: none;
}



@media (max-width:600px) {

    nav{
        padding: 3vw;
    }

    .name{
        font-size: 3vh;
    }


    .header-nav-lists{
        display: none;
    }
    .header-menu{
        display: contents;
        color: white;
        font-size: 3vh;
    }
    


    
}