

.footercontainer{
    height: 50vh;
    width: 100%;
    background-color: rgb(3, 8, 76);
    display: flex;
    margin-top: 1px;
    

}
.left-footer-container{
    height: 50vh;
    width: 50%;
    /* display: flex; */
}
.footer-headers{

    height: 10vh;
    width: 100%;
    display: flex;
}

.left-right-footer-header{
    height: 10vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cyan;
    font-size: 1.3rem;
    opacity: 60%;
    
}
.footer-image{
    margin-right: 10px;
    height: 5vh;
    opacity: 100%;
}



.footer-bodies{
    height: 40vh;
    width: 100%;
    display: flex;
}
.left-right-footer-body{
    height: 40vh;
    width: 60%;
    color: cyan;
    display: flex;
    justify-content: center;
    
}

.footerintro{
    color: cyan;
    width: 100%;
    margin-left: 9.5rem;
}

.lists li{
    list-style: none;
    color: cyan;
    cursor: pointer;
    margin-bottom: 10px;
}
.lists li:hover{
    color: brown;
    

}







.right-footer-container{
    height: 50vh;
    width: 50%;
    background-color: burlywood;

}









.copyright{

    height: 4vh;
    width: 100%;
    text-align: center;
    background-color: rgb(5, 13, 127);
    padding-top: 2px;
    color: cyan;

}