.footer{
    margin-top: 0.5px;
    height: 50vh;
    width: 100%;
    margin-top: 1px;
    background-color: rgb(5, 13, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    color: cyan;
}
ul li.navlistfooter{
    list-style: none;
    /* background-color: red; */
    margin-left: 10px;
    cursor: pointer;
}
.navlistfooterlink{
    display: absolute;
    
    text-align: center;
    font-size: 1.2rem;
    max-height: 4vh;
    /* max-width: 50%; */
    font-weight: 900;
    background-color: red;
}
ul li.navlistfooter:hover{
    color: rgb(193, 11, 11);

}
.footerlink,.footernav{
    display: relative;
    height: 50vh; 
    margin-left: 1px;
    width: 100%;  
    background-color: green;
    display: flex;    
    justify-content: center;
    /* align-items: center; */
}



.copyright{
    height: 5vh;
    background-color: rgb(5, 13, 127);
    text-align: center;
    color: cyan;
}