
/* whole background contact container styles */

.contactscontainer{
    color: cyan;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -15%;

}

/* left contact section styles */

.contactss{
    font-size: 20px;
    font-weight: 700;
    margin-left: 3%;
    /* background-color: red; */
    /* height: 50vh; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* form container styles */

.contactsform-container{
    width: 50%;
    color: cyan;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background-color:  darkblue; */
    /* border-left: 10px solid darkcyan;
    border-right: 2px solid darkcyan; */
}
.contactsform-inner-right-container{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 2rem 0;
    /* background-color:  green; */
    /* border-left: 1px solid darkcyan; */
    /* border-right: 1px solid darkcyan;  */
}


/* forms style */

/* form{
    margin: 1rem 0 1rem 0;
} */


/* styles for all input boxes */

.boxes{
    background-color: transparent;
    width: 30rem;
    margin: 10px 0 5px 0;
    border: none;
    border-bottom: 2px solid darkcyan;
    border-top: transparent;
    border-radius: 10px;
    color: cyan;
    font-size: 1rem;
    padding: 10px;
    outline: none;
    box-shadow: 1px 2px 5px darkcyan;
}
.boxes::placeholder{
    color: darkcyan;
}



#txtbox{
    /* border-top: 2px solid darkcyan; */
    resize: none;
    
}

/* submit button style in form */

.submitBtn{
    background-color: transparent;
    border: 2px solid darkcyan;
    color: cyan;
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
}
.submitBtn:hover{
    background-color: rgb(8, 218, 218);
    border-color: rgb(8, 218, 218);
    color: darkblue;

}


/* //styles for the left container */

.contactsform-inner-left-container{
    height: 30vh;
    width: 40%;
    /* background-color: brown; */
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactsform-inner-left-container .contactme{
    font-size: 2rem;
}
.contactsform-inner-left-container .contactme-description{
    color: cyan;
    text-align: center;

}

@media (max-width:600px) {

    .contactscontainer{
        flex-direction: column;
    
    }
    .contactss{
        width: 100%;
        
    }
    .contactsform-container{
        width: 100%;
        
    }
    .contactsform-inner-right-container{
        width: 100%;        
    }
    
    /* submit button style in form */
    
    .submitBtn{
        background-color: transparent;
        border: 2px solid darkcyan;
        color: cyan;
        width: 100%;
        font-size: 1rem;
        padding: 10px;
        border-radius: 10px;
    }
    
    
    
    /* //styles for the left container */
    
    .contactsform-inner-left-container{
        display: none;
    }
    
}